<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
http://java.sun.com/xml/ns/j2ee/web-app_3_1.xsd"
	version="3.1">
	<display-name>Archetype Created Web Application</display-name>
	<context-param>
		<param-name>
			javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL
		</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.CLIENT_WINDOW_MODE</param-name>
		<param-value>url</param-value>
	</context-param>
	<context-param>
		<param-name>resteasy.scan</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>resteasy.servlet.mapping.prefix</param-name>
		<param-value>/</param-value>
	</context-param>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<!-- <servlet-mapping> -->
	<!-- <servlet-name>org.jboss.weldx.ws.rs.core.Application</servlet-name> -->
	<!-- <url-pattern>/rest/*</url-pattern> -->
	<!-- </servlet-mapping> -->
	<!-- <servlet-mapping> -->
	<!-- <servlet-name>ec.casabaca.roster.web.resftul.RosterRestApplication</servlet-name> -->
	<!-- <url-pattern>/rest/*</url-pattern> -->
	<!-- </servlet-mapping> -->


	<servlet-mapping>
		<servlet-name>javax.ws.rs.core.Application</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>
			30
		</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>greeting.xhtml</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>bootstrap</param-value>
	</context-param>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>all</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>external</role-name>

		</auth-constraint>
		<!-- <user-data-constraint> -->
		<!-- <transport-guarantee>CONFIDENTIAL</transport-guarantee> -->
		<!-- </user-data-constraint> -->
	</security-constraint>


	<login-config>
		<auth-method>KEYCLOAK</auth-method>
		<realm-name>this is ignored currently</realm-name>
	</login-config>

	<security-role>
		<role-name>manager</role-name>
	</security-role>
	<security-role>
		<role-name>external</role-name>
	</security-role>
	<security-role>
		<role-name>offline-access</role-name>
	</security-role>

</web-app>
